body {
  /* background-color: #f8f9fa; */
  /* background-color: #f0f1f3; */
  /* background-color: #fff3cd; */
  /* background-color: #d2f4ea; */
  /* background-color: #e0cffc; */
  background-color: #ffe5d0;
  /* background-color: #d1e7dd; */
  /* background-color: #cfe2ff; */
  /* background-color: #f7d6e6; */
  /* background-color: #f8d7da; */
  /* background-color: #e2d9f3; */
}

/* animate__animated.animate__fadeInLeft {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
} */
